/* @charset "UTF-8"; */

* {
    margin: 0;
    border: 0;
    padding: 0;
    width: fit-content;
    text-decoration: none;
    list-style-type: none;
}

body    {
    background-color: rgb(106, 106, 108);
}

header  {
    background-color: rgb(139, 208, 232);
    width: 100%;
    position: fixed;
}
 

li {
    display: inline-block;
    padding: 1vh;
}

a   {
    color: black;
    background-color: white;
    transition: 1s;
}
a:hover {
    color: black;
    background-color: yellow;
}

input{
    border: solid 1px gray;
    border-radius: 5px;
}

form{
    display: flex;
}

.img {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {    
    max-width: 100%;
}

footer {
    position: fixed;
    background-color: rgb(139, 208, 232);
    bottom: 0;
    width: 100%;

}
